.main-title-span {
  color: #fdfe9c;
}
.main-title-blue {
  color: #8aded6;
}

a {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.login-signup-button {
  margin: 15px;
}

.img-icon {
  width: 80px;
  height: auto;
  margin: 10px;
}

.stats {
  font-size: 3em;
  font-family: "Roboto Condensed";
}

#project-data {
  color: #c7feff;
}
#supporter-data {
  color: #d6f9d1;
}
#fund-data {
  color: #fdff7e;
}

/* 403 Access Forbidden Page */
.access-forbidden-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5em;
}

.access-forbidden-page h1 {
  color: red;
  font-size: 5em;
}

.access-forbidden-page h2 {
  font-size: 2em;
}