.main-title-span {
  color: #fe6d73;
}

a {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.login-signup-button {
  margin: 15px;
}

.img-icon {
  width: 80px;
  height: auto;
  margin: 10px;
}

.stats {
  font-size: 3em;
  font-family: "Roboto Condensed";
}

#project-data {
  color: #c7feff;
}
#supporter-data {
  color: #ddffc7;
}
#fund-data {
  color: #fff9c7;
}
