.main-title-span {
  color: #fdfe9c;
}
.main-title-blue {
  color: #8aded6;
}

a {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.login-signup-button {
  margin: 15px;
}

.img-icon {
  width: 80px;
  height: auto;
  margin: 10px;
}

.stats {
  font-family: "Roboto Condensed";
}
@media screen and (min-width: 601px) {
  .stats {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .stats {
    font-size: 30px;
  }
}

#project-data {
  color: #c7feff;
}
#supporter-data {
  color: #d6f9d1;
}
#fund-data {
  color: #fdff7e;
}

/* 403 Access Forbidden Page */
.access-forbidden-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5em;
}

.access-forbidden-page h1 {
  color: red;
  font-size: 5em;
}

.access-forbidden-page h2 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.refund–button-and-alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-scientist {
  color: #5babab;
  font-family: "Roboto Condensed";
  font-size: "20px";
}

.link-scientist:hover {
  color: #a6a808;
  font-family: "Roboto Condensed";
}

.container-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


